.node-red/flows.json
[{"id":"5418e160.8e94a","type":"tab","label":"Validations"},{"id":"f76730be.9d27","type":"tab","label":"Oprations"},{"id":"d5524ee5.33fc9","type":"tab","label":"Events"},{"id":"d79dc817.bdbf78","type":"code","z":"5418e160.8e94a","name":"Year validation","func":"var year = msg.lbData.args.data.year;\nif(year){\n    if(year.toString().length == 4){\n        node.send([null, msg]);   \n    }else{\n        // for hook end error\n        node.send([msg, null]);   \n    }    \n}else{\n    node.send([msg, null]);       \n}\n","outputs":"2","noerr":0,"x":340.5,"y":283,"wires":[["c33df138.4553"],["8569f7a4.d26c78"]]},{"id":"c33df138.4553","type":"hook-end-error","z":"5418e160.8e94a","name":"Year is not valid","message":"year is not valid or not exist","messageType":"str","errorCode":"401","x":613.5,"y":227,"wires":[]},{"id":"8569f7a4.d26c78","type":"code","z":"5418e160.8e94a","name":"Movie year validation","func":"var year = msg.lbData.args.data.year;\nif(year < 2000){\n    node.send([msg, null]);\n}else{\n    node.send([null, msg]);\n}","outputs":"2","noerr":0,"x":627.5,"y":365,"wires":[["b59b9253.e2967"],["6545ecb2.bc8804"]]},{"id":"b59b9253.e2967","type":"hook-end-error","z":"5418e160.8e94a","name":"Movie year is not valid","message":"before year 2000 movie is not allowed","messageType":"str","errorCode":"401","x":935,"y":296,"wires":[]},{"id":"6545ecb2.bc8804","type":"hook-end","z":"5418e160.8e94a","name":null,"x":933,"y":461,"wires":[]},{"id":"c0f16ab7.3897d8","type":"OP-hook","z":"f76730be.9d27","name":"","modelName":"Review","method":"after save","description":"","x":142.5,"y":270,"wires":[["cce31b3b.8874d8","db0da28.ce1466"]]},{"id":"cce31b3b.8874d8","type":"hook-end","z":"f76730be.9d27","name":null,"x":415.5,"y":170,"wires":[]},{"id":"5fa1dee5.f16a7","type":"code","z":"f76730be.9d27","name":"avg rating","func":"var lastRating = msg.payload.result.userRating;\nif(lastRating != 0){\n    var avgRating = (msg.lbData.instance.rating + lastRating) / 2;\n    msg.avgUserRating = {\n        userRating: avgRating \n    };   \n}else{\n    var avgRating = msg.lbData.instance.rating;\n    msg.avgUserRating = {\n        userRating: avgRating \n    };   \n}\nreturn msg;","outputs":1,"noerr":0,"x":642.5,"y":269,"wires":[["828c33ff.8f269"]]},{"id":"db0da28.ce1466","type":"call-method","z":"f76730be.9d27","name":"","modelname":"Movie","methodType":"static","staticMethod":"findById","instancePath":"","instanceMethod":"updateAttributes","description":"","params":[{"valueType":"msg","value":"lbData.instance.movieId"}],"x":420,"y":270,"wires":[["5fa1dee5.f16a7"]]},{"id":"828c33ff.8f269","type":"call-method","z":"f76730be.9d27","name":"","modelname":"Movie","methodType":"instance","staticMethod":"find","instancePath":"payload.result","instanceMethod":"updateAttributes","description":"","params":[{"valueType":"msg","value":"avgUserRating"}],"x":895,"y":268,"wires":[["9cfd16dd.1ae1e8"]]},{"id":"9cfd16dd.1ae1e8","type":"debug","z":"f76730be.9d27","name":"User rating updated","active":true,"console":"false","complete":"true","x":1193.5,"y":267,"wires":[]},{"id":"656a2e00.545e44","type":"remote-hook","z":"5418e160.8e94a","name":"","modelName":"Movie","method":"create","methodType":"before","description":"","x":116,"y":283,"wires":[["d79dc817.bdbf78"]]},{"id":"514cb14f.8f12e","type":"inject","z":"f76730be.9d27","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":true,"x":172,"y":595,"wires":[["5fe98c93.724204"]]},{"id":"787abb25.1c47c4","type":"debug","z":"f76730be.9d27","name":"release flag updated","active":true,"console":"false","complete":"true","x":922,"y":597,"wires":[]},{"id":"5fe98c93.724204","type":"code","z":"f76730be.9d27","name":"Update release","func":"msg.where = {\n    \"release\": false,\n    \"releaseDate\": {\n        lt: new Date()\n    }    \n}\nreturn msg;","outputs":1,"noerr":0,"x":387.5,"y":595,"wires":[["114ca989.b987f6"]]},{"id":"114ca989.b987f6","type":"call-method","z":"f76730be.9d27","name":"","modelname":"Movie","methodType":"static","staticMethod":"updateAll","instancePath":"","instanceMethod":"updateAttributes","description":"","params":[{"valueType":"msg","value":"where"},{"valueType":"json","value":"{\"release\": true}"}],"x":624,"y":596,"wires":[["787abb25.1c47c4"]]},{"id":"bdefdd04.a5431","type":"event","z":"d5524ee5.33fc9","name":"","modelName":"Reviewer","method":"resetPasswordRequest","description":"","x":196,"y":155,"wires":[["7ac03820.c87938"]]},{"id":"7ac03820.c87938","type":"debug","z":"d5524ee5.33fc9","name":"reset password request ","active":true,"console":"false","complete":"true","x":605.5,"y":156,"wires":[]},{"id":"bd7af37a.24114","type":"comment","z":"5418e160.8e94a","name":"Movie year validation","info":"","x":154.5,"y":151,"wires":[]},{"id":"7f88c445.d87b7c","type":"comment","z":"f76730be.9d27","name":"Average user rating opration","info":"","x":178.5,"y":123,"wires":[]},{"id":"6ee9b5c.862084c","type":"comment","z":"f76730be.9d27","name":"movie release updation","info":"","x":174.5,"y":495,"wires":[]},{"id":"46a9724a.d8288c","type":"comment","z":"d5524ee5.33fc9","name":"Reviewer reset password event","info":"","x":185.5,"y":78,"wires":[]},{"id":"cd718fb7.c8e63","type":"comment","z":"f76730be.9d27","name":"Work in progress","info":"","x":445.5,"y":493,"wires":[]}]